/* body {
    margin: 0;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgb(42, 157, 175), rgb(86, 216, 155));
    box-sizing: border-box;
} */
h1{
    margin: 0;
    font-family: "Bodoni MT";
    font-size: 25vh;
    color: rgb(103, 95, 107);
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
h3,h2{  
      color: rgb(223, 211, 189);
    margin-top: 0;
    font-size: 6vh;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
#level{
    color: rgb(94, 89, 79);
}
p{
    font-size: 4vh;
    /* text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;    */
     color: rgb(223, 211, 189);
}
#mark{
    font-weight: bold;
   font-size: 8vh;
    background: linear-gradient(to right, #2521f3, 
    #4c00ff, #f70800, #eedd44); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 

}