h1 {
    text-align: center;
    font-size: 3rem;
}

li {
    list-style-type: none;
    height: 100%;
}

#list {
    height: 50vh;
    width: 95vw;
    margin: auto;
    padding: 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
}
.li_ul{
    width: 100%;
    height: 100%;
}
.item {
    margin: 0;
    padding: 0.2rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    border: 2px solid black;
    gap: 1vw;
}

.li {

    padding: 0;
    margin: 0;
}
.choesed{
    border: solid 2px red;
}
/* ////////////color////////////////// */
/* /* .red {
    background-color: rgb(247, 5, 5);
} */
.lines{
    /* background-image: repeating-linear-gradient(
  45deg,
  #553c9a,
  #ffffff 2px,
  #b393d3 2px,
  #b393d3 5px
); */

}